.container{
  height: 700px;
  border: 2px soild red;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);/*to  adjust heigh and add heigh also*/
  
}
.container>*{
  background-color: #203040;
  color: white;
  
  padding: 20px;

}
.b{
  grid-column: 2/4;
}
.a{
  grid-row: 1/4;
}
.f{
  grid-row: 2/4;
  grid-column: 4/5;
}
